/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "sidebar-and-header.css";
@import "player.css";

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Project */

:root {
    --trans-x: 0px;
    --black: #000000;
    --black-arrow: #00000055;
    --black-arrow-active: #000000a6;
    --black-user-hover: #333333a6;
    --gray: #181818;
    --gray2: #5353534c;
    --gray3: #535353b6;
    --gray4: #b4b4b4;
    --white: #ffffff;
    --default-variant-color: #502302;
    --default-variant-color-header: #50230256;
    --blue: #1b1bbb;
    --blue2: #6262b5;
    --green: #1ed760;
}

#app {
    overflow: hidden;
    font-family: Poppins;
}

.guify {
    background-image: linear-gradient(to bottom, var(--default-variant-color), var(--gray), var(--gray));
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

hr {
    margin: 1rem 0 !important;
    color: inherit !important;
    border: 0 !important;
    border-top: 1px solid var(--white) !important;
}

section {
    width: 100%;
    overflow: auto;
    padding-bottom: 14vh;
}

.music-section {
    padding: 15vh 3vw;
    color: var(--white)
}

.first-music-section-card {
    display: flex;
    flex-wrap: wrap;
}

.first-music-section-card div {
    display: flex;
    align-items: center;
    background-color: var(--gray2);
    min-width: 20rem;
    max-width: 20rem;
    height: 5rem;
    max-height: 5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    transition: all .3s ease;
}

.first-music-section-card div:hover {
    background-color: var(--gray3);
}

.likeSongs-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, var(--blue), var(--blue2), var(--gray4));
    min-width: 5.8rem;
    max-width: 5.8rem;
    min-height: 100%;
    max-height: 100%;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.likeSongs-card svg {
    fill: var(--white);
}

.first-music-section-card div img {
    max-width: 5.8rem;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.first-music-section-card div label {
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.play-button{
    width: auto;
    padding: 1.1rem 1rem 1.1rem 0;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 30%;
    visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
}

.first-music-section-card div:hover .play-button{
    visibility: visible;
}

.play-button button {
    background-color: var(--green);
    border: none;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-shadow: var(--gray) 0 3px 10px 1px;
}

.play-button svg {
    fill: var(--black);
}